<div class="col-md-12">
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Video Name</th>
        <th>Sent From</th>
        <th>Date Available</th>
        <th>Days Until Available</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="video in sentToMe | orderBy: 'daysTillAvailable'" ui-sref="watchVideo({videoId: video._id})">
        <td>{{ video.videoName }}</td>
        <td>{{ video.uploadedBy.username }}</td>
        <td>{{ video.openDate | toDate }}</td>
        <td>{{ video.daysTillAvailable }}</td>
      </tr>
    </tbody>
  </table>
</div>